
/* Main Mobile Styles */

@media only screen and (max-width: 599px) {

    html,body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    section#mobileHome {
        background-color: #F1FAEE;
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 81%;
    }

    #mobileHome div#homeContainerMobile {
        display: flex; 
        justify-content: center;
        align-items: center;
        z-index: 1;
        height: 100px;
    }
    
    #mobileHome div.titleDivMobile {
        display: flex; 
        flex-flow: column nowrap;
        margin-top: 0%;
        margin: 0;
    }
    
    #mobileHome div.titleDiv h1 {
        font-size: 13vw;
    }
    
    #mobileHome #webTitleMobile {
        margin-right: 0px;
    }  
    
    #devDev {
        margin-top: 30px;
        margin-bottom: 0;
    }

    /* Display None */
    #spheres {
        display: none;
        margin: 0;
    }

    #homeSection {
        display:none;
        margin: 0;
    }

    #workSection {
        display:none;
        margin: 0;
    }

    #workSectionCont {
        display:none;
        margin: 0;
    }

    #resumeSection {
        display: none;
        margin: 0;
    }

    #resumeSectionCont {
        display: none;
        margin: 0;
    }

    #contactSection {
        display: none;
        margin: 0;
    }

    #aboutSection {
        display: none;
    }

    /* Footer Styles */
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        font-family: Gilroy-Regular;
        padding: 5px;
        width: 92%;
        margin: 1% 2% 1%;
        display: flex; 
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        border: 3px solid #13CF93;
        background-color: #F1FAEE;
    }

    .footerIcon {
        font-size: 8vw;
        padding-right: 10px;
        color: black;
    }
    
    .footerIcon:hover {
        color: #13CF93;
    }
    
    .footerEle {
        font-size: 5vw;
        padding: 5px;
        border-radius: 5px;
    }

}